<ion-view title="{{ '%pw_reset.title' | translate}}">
    <ion-content id="forgotPassword">

        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label" translate>%global.your_email</span>
                <input type="text" placeholder="{{ '%global.your_email' | translate}}" ng-model="email">
            </label>
        </div>

        <a  id="login"
            class="button button-large button-block button-clear button-calm"
            ng-click="reset_password(email)"
            translate>
            %pw_reset.request
        </a>

    </ion-content>
</ion-view>