<ion-view title="{{ '%radar.title' | translate }}">
    <ion-content id="tab-radar" class="has-header">

        <ion-refresher pulling-text="{{ '%radar.refresh' | translate}}" on-refresh="doRefresh()"></ion-refresher>

        <ion-list>
            <div class="item item-divider" translate>
                %radar.<100
            </div>

            <yg-user-item ion-item 
                ng-repeat="user in users"
                user="user"
                class="item item-avatar"
                href="#/tab/radar/user/{{user.id}}">
            </yg-user-item>

            <div class="item item-divider" translate>
                %radar.>100
            </div>
            
            <a yg-user-item ion-item 
                ng-repeat="user in users"
                user="user"
                class="item item-avatar"
                href="#/tab/radar/user/{{user.id}}">
            </a>
        </ion-list>

    </ion-content>
</ion-view>
