<ion-nav-bar class="bar-positive nav-title-slide-ios7">
    <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">
    </ion-nav-back-button>

    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-navicon" ng-click="open_settings()"></button>
    </ion-nav-buttons>
</ion-nav-bar>


<ion-tabs class="tabs-striped tabs-icon-only tabs-background-positive tabs-calm">

    <!-- Radar Tab -->
    <ion-tab title="{{ '%radar.title' | translate }}" href="#/tab/radar"
        icon-on="radar-icon-active" icon-off="radar-icon">
        <ion-nav-view name="tab-radar"></ion-nav-view>
    </ion-tab>


    <!-- Wavers Tab -->
    <ion-tab title="{{ '%wavers.title' | translate }}" href="#/tab/wavers"
        icon-on="likers-icon-active" icon-off="likers-icon">
        <ion-nav-view name="tab-wavers"></ion-nav-view>
    </ion-tab>


    <!-- Profile Tab -->
    <ion-tab title="{{ '%profile.title' | translate }}" href="#/tab/profile"
        icon-on="profile-icon-active" icon-off="profile-icon">
        <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>

</ion-tabs>
