<ion-view id="tutorial_screen" hide-nav-bar="true">
<!--ion-content-->
    <!--ion-slide-box on-slide-changed="slideHasChanged($index)"-->
    <ion-slide-box>

        <ion-slide class="m-item">
            <div class="content_box p1">
                <div class="box">
                    <div class="content">
                        <div class="title blue1">Hello!</div>
                        <div class="text blue2">Welcome</div>
                        <div class="text black">Do we take a tour?</div>
                        <div class="nav1">
                            <div class="exit" ng-click="exit()">No, Thanks</div>
                            <div class="next" ng-click="next()">Get Started</div>
                        </div>
                    </div>
                </div>
            </div>
            <img class=screen src="img/tutorial/en/1.png"/>
        </ion-slide>

        <ion-slide class="m-item">
            <div class="content_box p2">
                <div class="pico"></div>
                <div class="box">
                    <div class="content">
                        <div class="title2 blue2">With Waving</div>
                        <div class="line">
                            <div class="section"></div>
                        </div>
                        <div class="text2 blue2">You’ll discover and get to know <br/> those around you...</div>
                        <div class="text2 black">Wherever you are!</div>
                        <div class="nav2">
                            <div ng-click="next()" class="next"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="btn a4"></div>
                <div class="btn b3"></div>
                <div class="btn c3"></div>
            </div>
            <img class=screen src="img/tutorial/en/2.png"/>
        </ion-slide>

        <ion-slide class="m-item">
            <div class="content_box p3">
                <div class="box">
                    <div class="content">
                        <div class="title3 blue2">Find new friends</div>
                        <div class="line">
                            <div class="section"></div>
                        </div>
                        <div class="text3 black">Use the <strong>Social Radar </strong> to discover the people around </br> yourself!</div>
                        <div class="nav2">
                            <div ng-click="next()" class="next"></div>
                        </div>
                    </div>
                </div>
                <div class="pico"></div>
            </div>
            <div class="footer">
                <div class="btn a2"></div>
                <div class="btn b3"></div>
                <div class="btn c3"></div>
            </div>
            <img class=screen src="img/tutorial/en/3.png"/>
        </ion-slide>

        <ion-slide class="m-item">
            <div class="content_box p4">
                <div class="pico"></div>
                <div class="box">
                    <div class="content">
                        <div class="title3 blue2"> Discover new Friends! </div>
                        <div class="line">
                            <div class="section"></div>
                        </div>
                        <div class="text3 black">If you want, you can see their profiles and <br/> send them a <span class="blue2 italic">Wave </span> to share contact info! </div>
                        <div class="nav2">
                            <div ng-click="next()" class="next"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="btn a4"></div>
                <div class="btn b3"></div>
                <div class="btn c3"></div>
            </div>
            <img class=screen src="img/tutorial/en/4.png"/>
        </ion-slide>

        <ion-slide class="m-item">
            <div class="content_box p5">
                <div class="pico"></div>
                <div class="box">
                    <div class="content">
                        <div class="title3 blue2">Wave as you Please </div>
                        <div class="line">
                            <div class="section"></div>
                        </div>
                        <div class="text3 black"><span class="blue2 italic"> Waves</span> can be direct or anonymous (in case your feeling <br/> shy). Just have fun! </div>
                        <div class="nav2">
                            <div ng-click="next()" class="next"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="btn a5"></div>
                <div class="btn b5"></div>
                <div class="btn c5"></div>
            </div>
            <img class=screen src="img/tutorial/en/5.png"/>
        </ion-slide>

        <ion-slide class="m-item">
            <div class="content_box p6">
                <div class="box">
                    <div class="content">
                        <div class="title3 blue2">Keep in Touch</div>
                        <div class="line">
                            <div class="section"></div>
                        </div>
                        <div class="text3 black">Check the list of friends who <span class="blue2 italic">Waved </span> at you </br> and give them back the gesture!</div>
                        <div class="nav2">
                            <div ng-click="next()" class="next"></div>
                        </div>
                    </div>
                </div>
                <div class="pico"></div>
            </div>
            <div class="footer">
                <div class="btn a3"></div>
                <div class="btn b2"></div>
                <div class="btn c3"></div>
            </div>
            <img class=screen src="img/tutorial/en/6.png"/>
        </ion-slide>

        <ion-slide class="m-item">
            <div class="content_box p8">
                <div class="box">
                    <div class="content">
                        <div class="title3 blue2">Complete your Profile</div>
                        <div class="line">
                            <div class="section"></div>
                        </div>
                        <div class="text3 black"> Remember to complete your profile so you make</br> the most of the Waving experience! </div>
                        <div class="nav2">
                            <div ng-click="next()" class="next"></div>
                        </div>
                    </div>
                </div>
                <div class="pico"></div>
            </div>
            <div class="footer">
                <div class="btn a3"></div>
                <div class="btn b3"></div>
                <div class="btn c2"></div>
            </div>
            <img class=screen src="img/tutorial/en/8.png"/>
        </ion-slide>

        <ion-slide class="m-item">
            <div class="content_box p9">
                <div class="pico"></div>
                <div class="box">
                    <div class="content">
                        <div class="title3 blue2">And Remember...</div>
                        <div class="line">
                            <div class="section"></div>
                        </div>
                        <div class="text3 black">Click here to Configure which <strong> personal information </strong> </br>you show the world, and which you only show </br> those you Wave at! </div>
                        <div class="nav2">
                            <div ng-click="next()" class="next"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="btn a4"></div>
                <div class="btn b3"></div>
                <div class="btn c3"></div>
            </div>
            <img class=screen src="img/tutorial/en/9.png"/>
        </ion-slide>

        <ion-slide class="m-item">
            <div class="content_box p10">
                <div class="pico"></div>
                <div class="box">
                    <div class="content">
                        <div class="title2 blue2">Let's Wave !!!</div>
                        <div class="text blue1">and Discover the world</br> around you...</div>
                        <div class="text black">Ready to greet?</div>
                        <div class="nav3">
                            <div ng-click="exit()" class="exit">Start</div>
                        </div>
                        <div class="nav2">
                            <div ng-click="first()" class="first prev"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="btn a3"></div>
                <div class="btn b3"></div>
                <div class="btn c3"></div>
            </div>
            <img class=screen src="img/tutorial/en/10.png"/>
        </ion-slide>

    </ion-slide-box>
<!--/ion-content-->

</ion-view>