<ion-view>

    <ion-content id="user-detail" class="has-header">
        <div class="picture">
            <img ng-src="{{ user.s_picture.xBig }}" />
        </div>

        <div class="send_wave_container" ng-switch="liked">
            <a  id="send_wave_btn"
                class="button button-large button-block button-clear button-calm"
                ng-switch-when="false"
                ng-click="sendLike()">
                
                <span translate>%profile.send_wave</span>

                <i class="loading icon ion-loading-c" 
                    ng-class="{on: wave_loading}"></i>
            </a>

            <a  id="send_wave_btn"
                class="button button-large button-block button-clear button-assertive"
                ng-switch-when="true"
                ng-click="unLike()">
                
                <span translate>%profile.unwave</span>

                <i class="loading icon ion-loading-c" 
                    ng-class="{on: wave_loading}"></i>
            </a>
        </div>
        
        <div class="list">
            <div class="item">
                <span class="content name">
                    {{ user.name }}
                </span>
            </div>

            <label class="item item-input"  ng-if="user.phone">
                <span class="input-label" translate>
                    %profile.form.phone
                </span>
                <span class="content">{{ user.phone }}</span>
            </label>
            
            <label class="item item-input"  ng-if="user.email">
                <span class="input-label" translate>
                    %profile.form.email
                </span>
                <span class="content">{{ user.email }}</span>
            </label>

            <label class="item item-input"  ng-if="user.sex">
                <span class="input-label" translate>
                    %profile.form.sex
                </span>
                <span class="content" translate>{{ user.sexHR() }}</span>
            </label>

            <label class="item item-input"  ng-if="user.age">
                <span class="input-label" translate>
                    %profile.form.age
                </span>
                <span class="content">{{ user.age }}</span>
            </label>

            <label class="item item-input"  ng-if="user.interested">
                <span class="input-label" translate>
                    %profile.form.interested
                </span>
                <span class="content" translate>{{ user.relInterestHR() }}</span>
            </label>
            
            <label class="item item-input" ng-if="user.sentimental_status">
                <span class="input-label" translate>
                    %profile.form.sentimental_status
                </span>
                <span class="content" translate>{{ user.sentimentalStatusHR() }}</span>
            </label>

            <label class="item item-input" ng-if="user.bio">
                <span class="input-label" translate>
                    %profile.form.bio
                </span>
                <span class="content">{{ user.bio }}</span>
            </label>
            
            <a href="#" class="item item-icon-right">
                <span translate> %profile.flag.button </span>
                <i class="icon ion-ios7-flag assertive"></i>
            </a>

        </div><!-- class=list -->

        

    </ion-content>
</ion-view>
