<ion-view title="{{ '%wave.title' | translate }}">
    <ion-content id="wave-detail" has-header="true" padding="true">
        <h3 class="text-center" translate>
            %wave.profile.title
        </h3>

        <div class="picture">
            <img ng-src="{{ waver.user.s_picture.xBig }}" />
        </div>


        <div ng-if="!waver.anonymous">
            <p ng-bind-html="
                '%wave.profile.details.not_anon_{0}'
                | translate: waver.__safe__name
                ">
            </p>

            <a class="button button-large button-clear button-block button-positive" 
                ui-sref="st.tab.waver-user-detail({userId: waver.user.id})"
                translate>
                %global.see_full_profile
            </a>
        </div>

        <div ng-if="waver.anonymous">
            <p translate>
                %wave.profile.details.anon
            </p>
        </div>

    </ion-content>
</ion-view>
