// The path to the root from the css folder
$base-url: "../";

// // The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "#{$base-url}lib/ionic/fonts" !default;

$positive:  #0579f8 !default;
$calm:      rgb(77, 204, 255) !default;
/*
$light:       #fff !default;
$stable:      #f8f8f8 !default;
$positive:    #4a87ee !default;
$calm:        #43cee6 !default;
$balanced:    #66cc33 !default;
$energized:   #f0b840 !default;
$assertive:   #ef4e3a !default;
$royal:       #8a6de9 !default;
$dark:        #444 !default;
*/

@import "www/lib/ionic/scss/ionic";
@import "utils/style";
@import "auth/style";
@import "tutorial/tutorial";

@font-face {
    font-family: 'Trench';
    font-weight: 100;
    src: url("fonts/Trench/trench100nv.otf");
}

@font-face {
    font-family: 'Trench';
    font-weight: 300;
    src: url("fonts/Trench/trench300nv.otf");
}

@font-face {
    font-family: 'Trench';
    font-weight: 500;
    src: url("fonts/Trench/trench500nv.otf");
}

body, input {
    font-family: Trench;
    font-size: 16px;
}

img {
    background-color: $stable;
}

h1, h2, h3, h4, h5, h6 { font-family: Trench; }

@mixin tab-icon($icon_name) {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/#{$icon_name}.png");
    background-size: auto 100%;
    margin-top: 5px !important;
    height: 37px !important;
}

ion-nav-back-button {
    width: 40px;
}

.bar {
    .title {
        font-family: 'Trench';
        font-size: 28px;
        font-weight: bold;
    }
}

.tabs {
    .radar-icon { @include tab-icon("radar"); }
    .likers-icon { @include tab-icon("likers-list"); }
    .profile-icon { @include tab-icon("profile"); }

    .radar-icon-active { @include tab-icon("radar-active"); }
    .likers-icon-active { @include tab-icon("likers-list-active"); }
    .profile-icon-active { @include tab-icon("profile-active"); }
}

ion-nav-bar .button { color: $calm !important; }


#tab-radar {
    h3 {
        padding-top: 50px;
        margin: 0px 20px;
        text-align: center;
        span { display: block; }
        i {
            margin-top: 20px;
            font-size: 40px;
        }
        .message { font-size: 16px; }
        .pull {
            margin-top: 20px;
            color: $positive;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .list {
        .item-divider {
            background-color: initial;
            color: $positive;
            padding-left: 20px;
        }
    }
}

#tab-wavers {
    h3 {
        padding-top: 50px;
        margin: 0px 20px;
        text-align: center;
    }
}

yg-user-item, [yg-user-item], .yg-user-item,
yg-waver-item, [yg-waver-item], .yg-waver-item, {
    
    padding-right: 16px !important;
    padding-left: 82px !important;

    .picture {
        position: absolute;
        top: 10px;
        left: 16px;
        width: 58px;
        height: 58px;
        border-radius: 50%;
        border: 2px solid $positive;
        overflow: hidden;

        img {
            height: 100%;
            border-radius: 50%;
        }
    }
    .name {
        font-family: 'Trench';
        font-size: 18px;
        color: black;
    }
    .status { display: inline; }
    .sex { float: right; }
    .wavers {
        padding-right: 0;
        right: 16px;
        color: black;
        b {
            font-size: 18px;
            color: $energized;
        }
    }
}


#profile-view, #user-detail {
    .picture {
        position: relative;
        margin-top: 10px;
        text-align: center;
        height: 300px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            max-width: 300px;
            font-size: 18px;
            border-radius: 5px;

            &.loading { opacity: 0.6; }
        }

        progress-arc {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -100px;
            margin-left: -100px;

            circle {
                stroke-linecap: round;
                @include transition(stroke-dashoffset, 0.2s, ease-out);
                stroke: $positive;
            }

            &.ng-enter, &.ng-leave {
                @include transition(opacity, ease, 0.6s);
            }

            &.ng-enter,
            &.ng-leave.ng-leave-active {
              opacity:0;
            }

            &.ng-leave,
            &.ng-enter.ng-enter-active {
              opacity:1;
            }
        }
    }

    .send_wave_container {
        position:relative;
        overflow:hidden;
        height: 70px;

        #send_wave_btn {
            font-weight: bold;

            .loading {
                font-size: 24px;
                opacity: 0;
                margin-right: -32px;
                @include transition(top, ease, 0.6s);
                &.on {
                    opacity: 1;
                }
            }

            &.ng-animate {
                @include transition(all, cubic-bezier(0.250, 0.460, 0.450, 0.940), 0.6s);
                position: absolute;
                top:0;
                right: 0;
                left: 0;
            }

            &.ng-leave.ng-leave-active, &.ng-enter {
                top:-50px;
                font-size: 0;
            }
            &.ng-leave, &.ng-enter.ng-enter-active {
                top:0;
                font-size: 20px;
            }
        }
    }



    .list {
        .item {
            color: black;
            // border: none;
            input, .content {
                text-align: right;
                font-size: 20px;

                &.name {
                    text-align: center;
                    display: block;
                }
            }
        }
    }

    #logout_btn {
        // float: right;
        font-weight: bold;
    }
}

#wave-detail {
    .picture {
        img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
    }
    p {
        text-align: justify;

        .name {
            font-weight: bold;
        }
    }
}

#settings {
    .list {
        .item {
            white-space: initial;
        }
    }
}
